.base-container {
  height: 100vh;
  max-width: 600px;
  margin: auto;
  background-image: linear-gradient( 64.5deg,  rgba(245,116,185,1) 14.7%, rgba(89,97,223,1) 88.7% );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.base-childs {
  overflow-y: auto;
  height: 100vh;
}
