* {
  margin: 0;
  padding: 0;
}
.header {
  background-color: #1b9cfc;
  height: 70px;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 0px;
  width: 100vw;
  /* z-index: 5; */
}
.menu-container-mobile {
  display: none;
}
.name {
  font-size: 50px;

  display: flex;

  align-items: center;

  color: white;

  margin-left: 11px;
}
.menu-container {
  display: flex;
}
.menu-item {
  font-size: 20px;
  color: white;
  display: flex;

  align-items: center;

  margin: 30px;
  padding: 10px;
}
.menu-item:hover {
  /* border: 1px solid white; */
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  color: #1b9cfc;
  cursor: pointer;
}
.menu-button {
  display: none;
}

/* mobile view stylings starts from here */
@media (max-width: 450px) {
  .header {
    height: 60px;
    background-color: #f3f5f7;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: space-between;
  }

  .name {
    font-size: 29px;
    color: #1b9cfc;
    display: flex;
  }
  .menu-container {
    display: none;
    flex-direction: column;
  }
  .menu-item {
    font-size: 20px;

    display: flex;

    align-items: center;

    margin: 30px;
    padding: 10px;
  }
  .menu-button {
    display: flex;
    width: 31px;
    height: 30px;
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1024px-Hamburger_icon.svg.png");
    background-color: rgba(0, 0, 0, 0);
    background-size: auto;
    background-size: cover;
    background-color: white;
    border-radius: 6px;
    margin-right: 5px;
    cursor: pointer;
  }

  .menu-container-mobile {
    display: none;
    flex-direction: column;
    justify-content: center;
    background-color: #074f86;
    position: fixed;
    top: 60px;
    width: 100vw;
    z-index: 5;
    border: 1px solid white;
  }
  .menu-item-mobile {
    font-size: 15px;
    color: white;
    /* text-align: center; */
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 40px;
    cursor: pointer;
  }
  .make-flex {
    display: block;
  }
  .make-none {
    display: none;
  }
  .make-background-cross {
    background-image: url("https://cdn.icon-icons.com/icons2/1674/PNG/512/close_111152.png");
  }
  .make-background-ham {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1024px-Hamburger_icon.svg.png");
  }
}
