* {
  margin: 0;
  padding: 0;
}

.nav-container {
  display: flex;

  max-width: 600px;
  height: 55px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #413f3f;
  border-radius: 15px 15px 0px 0px;
  /* border: 1px solid rgb(184, 184, 184); */
  box-shadow: 6px 3px 6px 5px rgba(0, 0, 0, 0.267);
}
.icon {
  color: rgb(255, 255, 255);
  font-size: 30px;
}
.icon:hover {
  font-size: 35px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  font-weight: bold;
  color: black;
  background-color: #f8f8f8;
}
