.song-list-item-container {
  margin: 3px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.185);
  justify-content: space-between;
}
.song-list-item-container .song-name {
  margin-left: 20px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
}
.song-list-item-container .song-details-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.song-list-item-container .singer-name {
  font-size: 13px;
  color: #f8f8f8;
  margin-left: 20px;
}
.song-list-item-container .pic {
  height: 50px;
  width: 50px;
  border-radius: 5px;
}
.song-list-item-container .fev-icon {
  float: right;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 9px;
}

/* song card styles ************************************************** */
.song-card-container {
  color: white;
  display: flex;
  flex-direction: column;
}
.song-card-container .image {
  height: 300px;
  width: 300px;
  margin: auto;
}
.song-card-container .title {
  margin-top: 40px;
  font-size: 30px;
  text-align: center;
}
.song-card-container .singer-name {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}
.song-card-container .like-button {
  text-align: center;
}
.song-card-container .dislike-button {
  text-align: center;
  color: rgb(98, 247, 98);
}
.song-card-container .audio-play {
  /* filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%); */
  width: 350px;
  height: 35px;
  text-align: center;
  margin: auto;
  background-color: black;
}
