.container {
  background-color: rgb(98, 98, 98);
  height: 50px;
  color: white;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 25px;
}
.switch-user-mode{
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}
.switch-user-mode .Link{
  text-decoration: none !important;
  color: white;

}
.admin-details {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.admin-pic {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.admin-name {
  margin-right: 20px;
}
.admin-body {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(83, 83, 83);
  display: flex;
}
.left {
  width: 11vw;
  background-color: rgb(83, 85, 83);
  min-height: 100vh;
}
.left .left-item {
  font-size: 20px;
  padding: 7px;
  border: 1px solid rgb(0, 0, 0);
  /* border-radius: 10px; */
  color: white;
  cursor: pointer;
}
.select {
  color: rgb(11, 136, 32) !important;
  background-color: white;
}
.right {
}
