.setting-container {
  color: white;
}
.setting-container .title {
  background-color: rgb(27, 25, 25);
  padding: 15px;
  font-size: 25px;
}
.setting-container .option-list {
}
.setting-container .option-list .option-list-item {
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  color: white;
}
.setting-item{
  border-radius: 5px;
  border: 1px solid white;
  margin: 6px;
  padding: 5px;
}
.bold-text{
  font-weight: bold;
}
.cursor-pointer{
  cursor: pointer;
}
