.loader-container {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 34vh;
}
.loader-main {
  height: 140px;
  width: 135px;
}

/* coming soon style **************************** */

.coming-soon-container {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 40vh;
}
.coming-soon-main {
  height: 110px;
  width: 342px;
}
