.sign-in-container {
  display: flex;

  flex-direction: column;

  width: 30vw;

  max-width: 40vw;

  align-items: center;

  margin: auto;

  box-shadow: 1px 1px 10px 4px #c1c1c1;

  border-radius: 10px;
  position: relative;
  top: 300px;
}
.content {
  font-size: 30px;
  padding: 20px;
}
.google-sign-in-button {
  height: 64px;

  box-shadow: 0px 5px 5px 5px #d7d7d7;

  border-radius: 10px;

  margin: 30px;

  cursor: pointer;
}
.google-sign-in-button:hover {
  box-shadow: 1px 4px 8px 12px #d7d7d7;
}
